<div class="panel panel-default">
  <div class="panel-heading">
    Gestion des services
  </div>
  <div class="panel-body">
    <div>
      <button (click)="onNewservices()" class="btn btn-success">add service
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
    <p></p>
    <div *ngIf="mode=='new-ser'" class="col-md-9">
      <form #f="ngForm" (ngSubmit)="onSaveSer(f.value)">
        <div class="form-group">
          <label class="control-label">Name</label>
          <input class="form-control" name="name" ngModel type="text">
        </div>
        <div>
          <button class="btn btn-success" type="submit">Save</button>&nbsp;
          <button class="btn btn-danger" type="reset">Annuler</button>&nbsp;
          <button (click)="back()" class="btn btn-danger">Retour</button>
        </div>
      </form>
    </div>
    <div *ngIf="mode=='edit-ser'" class="col-md-6">
      <div>
        Modifier Service
      </div>
      <form #f="ngForm" (ngSubmit)="onupdateSer(f.value)">
        <div class="form-group">
          <label class="control-label">Name</label>
          <input [(ngModel)]="currentService.name" class="form-control" name="name" type="text">
        </div>
        <button class="btn btn-success" type="submit">Save</button>
      </form>
    </div>

    <div *ngIf="mode=='list'">
      <table *ngIf="services" class="table">
        <tr>
          <th>Name</th>
        </tr>
        <tr *ngFor="let c of services._embedded.services">
          <td>{{c.name}}</td>
          <td>
            <button (click)="onDeleteservice(c)" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
          <td>
            <button (click)="onEditservice(c)" class="btn btn-info">
              <span class="glyphicon glyphicon-check"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
