<div *ngIf="promotions">
  <div *ngFor="let pr of promotions._embedded.promotions">
    <div class="col-md-push-6">
      <div class="panel panel-default heigted">
        <div class="panel-heading">
          {{pr.name}}
        </div>
        <div class="panel-body">
          <img (click)="onPromotionDetails(pr)" [src]="this.promopubService.host+'/photoPromo/'+pr.id+'?ts='+getTS()"
               class="img-rounded img-responsive "/>
          <div *ngIf="isAuthenticated() && isAdmin()">
            <button (click)="onEditPhoto(pr)">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <p *ngIf="editphoto && currentpromotion==pr">
              <input (change)="onSelectedFile($event)" type="file">
              <button (click)="uploadPhoto()" class="btn btn-success">Upload</button>
              {{progress}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
