<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AutoService</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Acceuil<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="">Présentation</a></li>
          <li><a routerLink="">Contact</a></li>
        </ul>
      </li>
      <li *ngIf="isAuthenticated()" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Votre éspace
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngIf="isUser()"><a routerLink="/profile">Votre Compte</a></li>
          <li *ngIf="isUser()"><a routerLink="/formation">Formations</a></li>
          <li *ngIf="isUser()"><a routerLink="/promotion">Promotions</a></li>
        </ul>
          <li *ngIf="isAuthenticated() && isAdmin()" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Espace Administrateur
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
          <li *ngIf="isAdmin()"><a routerLink="/adminServices">Gestion des Services</a></li>
          <li *ngIf="isAdmin()"><a routerLink="/admincollaborateurs">Gestion des Collaborateurs</a></li>
          <li *ngIf="isAdmin()"><a routerLink="/adminUsers">Gestion des utilisateurs</a></li>
          <li *ngIf="isAdmin()"><a routerLink="/adminformation">Gestion des Formations</a></li>
          <li *ngIf="isAdmin()"><a routerLink="/adminpromotion">Gestion des Promotions</a></li>
          <li *ngIf="isAdmin()"><a routerLink="/adminpublicite">Gestion des Publicités</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a *ngIf="!isAuthenticated()" routerLink="/login">
          <span class="glyphicon glyphicon-log-in"> Login</span> </a></li>
      <li>
        <a (click)="logOut()" *ngIf="isAuthenticated()" class="btn">
          <span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
      <li>
        <div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <app-services>
    </app-services>
  </div>
  <div class="col-md-6">
    <app-publicites>

    </app-publicites>
    <router-outlet>

    </router-outlet>
  </div>
</div>

