<div *ngIf="collaborateurs">
  <div *ngFor="let c of collaborateurs._embedded.collaborateurs">
    <div class="col-md-push-6">
      <div class="panel panel-default heigted">
        <div class="panel-heading">
          {{c.name}}
        </div>
        <div class="panel-body">
          <img (click)="onCollaborateurDetails(c)" [src]="this.prestService.host+'/photoColl/'+c.id+'?ts='+getTS()"
               class="img-rounded img-responsive "/>
          <div *ngIf="isAuthenticated() && isAdmin()">
            <button (click)="onEditPhoto(c)">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <p *ngIf="editphoto && currentcollaborateur==c">
              <input (change)="onSelectedFile($event)" type="file">
              <button (click)="uploadPhoto()" class="btn btn-success">Upload</button>
              {{progress}}
            </p>
          </div>
          <div>
            <label><span class="glyphicon glyphicon-home"></span>{{c.adresse}}</label>
          </div>
          <div>
            <label><span class="glyphicon glyphicon-phone"></span>{{c.phoneNumber}}</label>
          </div>
          <div>
            <div *ngIf="c.promotion">
              <img height="30px" src="../../assets/images/promo.png"/>
            </div>
            <div *ngIf="c.available">
              <img height="30px" src="../../assets/images/valable.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<table class="table table-striped">
    <tr>
      <th>Name</th><th>Adresse</th>
    </tr>
    <tr *ngFor="let c of collaborateurs._embedded.collaborateurs">
      <td>{{c.name}}</td>
      <td>{{c.adresse}}</td>
    </tr>
  </table>-->

