<div class="Container">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      Votre Compte
    </div>
    <div class="panel panel-body">
      <div  class="col-md-6">
         <table>
           <div class="form-group">
           <tr>
             <td><label class="control-label">Name  :</label></td>
             <td>{{username}}</td>
           </tr>
             <tr>
               <td><label class="control-label">Type de compte  :</label></td>
               <td>{{roles}}</td>
             </tr>
           </div>
         </table>
          </div>
      </div>
    </div>
  </div>
